.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.conteudoPrincipal {
  background-color: var(--white);
  height: 70%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 30px;
  padding: 20px;
  text-align: left;
  gap: 20px;
}

.formConteudo {
  color: var(--dark-style-grey);
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 2rem;
}

.formConteudo h1 {
  text-align: center;
}

.formConteudo ul {
  list-style: none;
  padding: 0;
}

.formConteudo ul img {
  margin-right: 12px;
}

.divEmail {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: small;
}

.divEmail label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.divEmail input {
  padding: 9px;
  border-radius: 5px;
  border: 1px solid #c9c9c9;
  outline: 0;
  margin-bottom: 10px;
}

.inputValidate {
  background-color: #FF9183;
}

.inputValidate::placeholder {
  color: #E14A3A;
}

.divEmail input:focus {
  border: 1px solid var(--grey);
}

.divImg {
  position: relative;
}

.divImg img {
  border-radius: 10px;
}

.emailRequired {
  color: #FF9183;
  font-size: 10px;
}

@media (max-width: 1004px) {
  .conteudoPrincipal {
    height: 80%;
  }

  .divImg img {
    object-fit: cover;
  }
}

@media (max-width: 700px) {
  .main {
    background-color: var(--white);
  }

  .conteudoPrincipal {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  .formConteudo {
    padding: 10px;
  }

  .divImg {
    height: 50%;
  }

  .divImg img {
    width: 50px;
    height: 50px;
  }
}